<main>
    @if (errorContainer.length > 0) {
        <!-- <div class="error-container">
            @for (item of errorContainer; track $index) {
                <div class="error-message" (animationend)="onAnimationEnd()">{{item}}</div>
            }
        </div> -->
        <app-errors [errorContainer]="errorContainer" (changeEmitter)="onAnimationEnd($event)"></app-errors>
    }
    <div class="login-form">
        <h1>Login Form</h1>
        <form [formGroup]="form" (ngSubmit)="login()">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" formControlName = 'email'>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" formControlName = 'password'>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="no-acc-box">
        <h1 class="no-acc">New to our store?<a routerLink="/register" class="anchr">Register here</a> </h1>
    </div>
</main>