<main>
    @if (errorContainer.length > 0) {
        <!-- <div class="error-container">
            @for (item of errorContainer; track $index) {
                <div class="error-message" (animationend)="onAnimationEnd()">{{item}}</div>
            }
        </div> -->
        <app-errors [errorContainer]="errorContainer" (changeEmitter)="onAnimationEnd($event)"></app-errors>
    }
    <div class="register-form">
        <h1>Registration Form</h1>
        <form [formGroup]="form" (ngSubmit)="register()">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" formControlName = "email" required >
            <div formGroupName = "passGroup">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" formControlName = "password" >
            <label for="repass">Repeat Password</label>
            <input type="password" name="repass" id="repass" formControlName = "repass" >
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="no-acc-box">
        <h1 class="no-acc">Already have an account?<a routerLink="/login" class="anchr">Login here</a></h1>
    </div>
</main>