<main>
    <div class="register-form">
        <h1>Registration Form</h1>
        <form action="#" method="">
            <label>Email</label>
            <input type="text" name="" >
            <label>Password</label>
            <input type="password" name="" >
            <label>Repeat Password</label>
            <input type="password" name="" >
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="no-acc-box">
        <h1 class="no-acc">Already have an account?<a href="/login.html" class="anchr">Login here</a></h1>
    </div>
</main>