<main>
  <div class="error-container">
    @if (errorContainer && errorContainer.length > 0) {
        <app-errors [errorContainer]="errorContainer" (changeEmitter)="onAnimationEnd($event)"></app-errors>
    }
    </div>
    <form class="example" [formGroup]="form" (ngSubmit)="submit()">
        <input type="text" placeholder="Search..." name="search" id="search" formControlName = 'search' value="">
        <button type="submit" class="button" >Search</button>
        <button type="button" class="clearButton" (click)="clear()" >Clear</button>
        <select class="dropdown" name='dropdown' id="dropdown" formControlName = 'dropdown' value="">
            <option value="">---</option>
            <option value="carBrand">Brand</option>
            <option value="carModel">Model</option>
            <option value="horsePowerMore">More HP</option>
            <option value="horsePowerLess">Less HP</option>
        </select>
    </form>

    @if (loading) {
      <app-loader></app-loader>
    }
    
    <div class="wrapper">
      @if (cars.length > 0) {
        @for (item of cars; track $index) {
          <app-search-single-item [car]="item" [loggedIn]="isLoggedIn"></app-search-single-item>
        }
      } 
    </div>
</main>