<main>
    <form class="example">
        <input type="text" placeholder="Search..." name="search" value="">
        <button type="submit" class="button" >Search</button>
        <button type="submit" class="clearButton" >Clear</button>
        <select class="dropdown" name='dropdown' value="">
            <option value="">---</option>
            <option value="carBrand">Brand</option>
            <option value="carModel">Model</option>
            <option value="horsePowerMore">More HP</option>
            <option value="horsePowerLess">Less HP</option>
        </select>
    </form>
    <div class="wrapper">     
        <div class="card">
        <img src="https://images.hgmsites.net/hug/2010-bmw-3-series-4-door-sedan-328i-rwd-angular-front-exterior-view_100237108_h.jpg" alt="Car Image" class= "car-image-url">
        <h1 class="blk-clr">car.carBrand</h1>
        <h3 class="blk-clr">Model: car.carModel</h3>
        <h3 class="blk-clr">Horse Power: car.horsePower</h3>
        <a hre='/'><button class="button">Details</button></a>
      </div>
        <div class="card">
        <img src="https://images.hgmsites.net/hug/2010-bmw-3-series-4-door-sedan-328i-rwd-angular-front-exterior-view_100237108_h.jpg" alt="Car Image" class= "car-image-url">
        <h1 class="blk-clr">car.carBrand</h1>
        <h3 class="blk-clr">Model: car.carModel</h3>
        <h3 class="blk-clr">Horse Power: car.horsePower</h3>
        <a hre='/'><button class="button">Details</button></a>
      </div>
        <div class="card">
        <img src="https://images.hgmsites.net/hug/2010-bmw-3-series-4-door-sedan-328i-rwd-angular-front-exterior-view_100237108_h.jpg" alt="Car Image" class= "car-image-url">
        <h1 class="blk-clr">car.carBrand</h1>
        <h3 class="blk-clr">Model: car.carModel</h3>
        <h3 class="blk-clr">Horse Power: car.horsePower</h3>
        <a hre='/'><button class="button">Details</button></a>
      </div>
    </div>
</main>