<header>
    <div class="Header">
        <a to="/" ><img src="https://static.vecteezy.com/system/resources/thumbnails/035/915/849/small/ai-generated-car-logo-isolated-no-background-ai-generated-free-png.png" class="logo"></a>
            <ul class="Menu">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/catalog">Catalog</a></li>
                @if (isUserLoged) {
                <li><a routerLink="/list">List Your Car</a></li>
                }
                <li><a routerLink="/search">Search</a></li>
                <li><a routerLink='/contacts'>Contacts</a></li>
                @if (!isUserLoged) {
                    <li><a routerLink="/register">Register</a></li>
                    <li><a routerLink="/login">Login</a></li>
                }
                @if (isUserLoged) {
                    <li><a routerLink="/profile">Profile</a></li>
                    <li><a (click)="logoutFn()">Logout</a></li>
                }
            </ul>
    </div>
    <div class="error-container">
        @if (errorContainer && errorContainer.length > 0) {
            <app-errors [errorContainer]="errorContainer" (changeEmitter)="onAnimationEnd($event)"></app-errors>
        }
        </div>
</header>