<main class="main">
    <div class="profile-container">
        <div class="profile-info">
            <div class="profile-picture">
                <img src="profile-circle-icon-2048x2048-cqe5466q.png"  alt="Profile Picture">
            </div>
            <div class="profile-email">
                <span class="blk-clr"><strong>Email: email</strong></span>
                <span class="blk-clr"><strong>User since: date</strong></span>
            </div>
        </div>
    </div>
    <div class="products-container">
        <section class="product-section">
            <h2>Listed Cars</h2>
            <div class="product">
                <h3 class="h3">car.carBrand</h3>
                <p class="p"><strong>Model:</strong> car.carModel</p>
                <p class="p"><strong>Color:</strong> car.color</p>
                <a routerLink="/catalog/1"><button class="details-btn">Details</button></a>
            </div>
        </section>
        <section class="product-section">
            <h2>Liked Cars</h2>
            <div class="product">
                <h3 class='h3'>car.carBrand</h3>
                <p class='p'><strong>Model:</strong> car.carModel</p>
                <p class='p'><strong>Color:</strong> car.color</p>
                <a routerLink='/catalog/1'><button class="details-btn">Details</button></a>
            </div>
        </section>
    </div>
</main>