<main class="main">
    <div class="error-container">
        @if (errorContainer && errorContainer.length > 0) {
            <app-errors [errorContainer]="errorContainer" (changeEmitter)="onAnimationEnd($event)"></app-errors>
        }
        </div>
    <div class="product-details">
        <div class="image-container">
            <img src={{car?.imageURL}} alt="Car Image">
        </div>
        <div class="details-content">
            <h2><strong class="gry-clr">{{car?.carBrand}}</strong> </h2>
            <p class="blk-clr"><strong>Model:</strong> {{car?.carModel}}</p>
            <p class="blk-clr"><strong>Year:</strong> {{car?.year}}</p>
            <p class="blk-clr"><strong>Engine Capacity:</strong> {{car?.engineCapacity}}</p>
            <p class="blk-clr"><strong>Horse Power:</strong> {{car?.horsePower}}</p>
            <p class="blk-clr"><strong>Fuel: </strong> {{car?.fuelType}}</p>
            <p class="blk-clr"><strong>Color: </strong> {{car?.color}}</p>
            <p class="blk-clr"><strong>Description:</strong> {{car?.description}}</p>
            <p class="blk-clr"><strong>Listed on:</strong> {{car?._createdOn | date: "dd-MM-yyyy, hh:mm"}}</p>
            <div class="buttons">
                    @if (user?._id) {
                    @if (car?._ownerId == user?._id) {
                    <a [routerLink]="'/edit/' + car?._id"><button class="edit-btn">Edit</button></a>
                    <button class="delete-btn" (click)="deleteItem()">Delete</button>
                    } @else {
                        @if (car?.likes?.includes(user?._id!)) {
                        <button class="like-btn" (click)="DislikeItem()" >Unlike</button>
                        } @else {
                        <button class="like-btn" (click)="likeItem()">Like</button>
                    }
                    }
                    }
                </div>
                <p class="gry-clr mrgn-top"> Current Number of Likes: {{car?.likes?.length}} </p>
        </div>
    </div>
</main>