<main class="main">
    <div class="product-details">
        <div class="image-container">
            <img src='https://images.hgmsites.net/hug/2010-bmw-3-series-4-door-sedan-328i-rwd-angular-front-exterior-view_100237108_h.jpg' alt="Car Image">
        </div>
        <div class="details-content">
            <h2><strong class="gry-clr">item.carBrand</strong> </h2>
            <p class="blk-clr"><strong>Model:</strong> item.carModel</p>
            <p class="blk-clr"><strong>Year:</strong> item.year</p>
            <p class="blk-clr"><strong>Engine Capacity:</strong> item.engineCapacity</p>
            <p class="blk-clr"><strong>Horse Power:</strong> item.horsePower</p>
            <p class="blk-clr"><strong>Fuel: </strong> item.fuelType</p>
            <p class="blk-clr"><strong>Color: </strong> item.color</p>
            <p class="blk-clr"><strong>Description:</strong> item.description</p>
            <div class="buttons">
                    <a routerLink="/edit/1"><button class="edit-btn">Edit</button></a>
                    <button class="delete-btn">Delete</button>
                    <button class="like-btn" >Unlike</button>
                    <button class="like-btn">Like</button>
            </div>
                <p class="gry-clr mrgn-top"> Current Number of Likes: likes.length </p>
        </div>
    </div>
</main>