    <main>
      <div class="error-container">
        @if (errorContainer.length > 0) {
            <!-- <div class="error-container">
                @for (item of errorContainer; track $index) {
                    <div class="error-message" (animationend)="onAnimationEnd()">{{item}}</div>
                }
            </div> -->
            <app-errors [errorContainer]="errorContainer" (changeEmitter)="onAnimationEnd($event)"></app-errors>
        }
    </div>
    <h1 class="header">All listed cars</h1>

    @if (loading) {
      <app-loader></app-loader>
    }

    <div class="wrapper">
      @if (cars.length > 0) {
        @for (item of cars; track $index) {
          <app-catalog-single-item [car]="item" [loggedIn]="isLoggedIn"></app-catalog-single-item>
        }
      }
    </div>
</main>